/* Font-sizes(px): 
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98 

- SPACING SYSTEM (px)
2/4/8/12/16/24/32/48/64/80/96/128 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  /* width: 62.5%; */
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: -0.2rem;
  margin-bottom: 2rem;
}
.content {
  font-size: 1.6rem;
  color: hsl(303, 10%, 53%);
  font-weight: 400;
  margin-bottom: 6rem;
  line-height: 2rem;
}

.main-section {
  display: flex;
  gap: 4rem;
  color: hsl(300, 43%, 22%);
}

.first-section {
  width: 40rem;
}
/* .second-section {
  width: 45rem;
  display: flex;
} */

.second-section {
  display: flex;
  gap: 2rem; /* Gap between stars */
  width: 45rem;
  color: hsl(300, 43%, 22%);
  align-items: center; /* Vertically center stars */
  flex-direction: column;
}
.first-star {
  font-size: 1.4rem;
  font-weight: 700;
  /* display: inline-block; */
  display: flex;
  background-color: hsl(300, 24%, 96%);
  align-items: center;
  padding: 1.5rem 4rem;
  gap: 3rem;
  border-radius: 0.5rem;
  position: relative;
}
.second-star {
  font-size: 1.4rem;
  font-weight: 700;
  /* display: inline-block; */
  display: flex;
  background-color: hsl(300, 24%, 96%);
  align-items: center;
  padding: 1.5rem 4rem;
  gap: 3rem;
  border-radius: 0.5rem;
  position: relative;
  left: 6rem;
}
.third-star {
  font-size: 1.4rem;
  font-weight: 700;
  /* display: inline-block; */
  display: flex;
  background-color: hsl(300, 24%, 96%);
  align-items: center;
  padding: 1.5rem 4rem;
  gap: 3rem;
  border-radius: 0.5rem;
  position: relative;
  left: 12rem;
}
.stars > img {
  margin: 0.2rem;
}
/* .second-section-two {
  display: flex;
  width: 90rem;
  gap: 3rem;
}
.customer-review-one {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;
}
.customer-review-two {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.customer-review-three {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
} */

.second-section-two {
  display: flex;
  width: 90rem;
  gap: 3rem;
  align-content: flex-start;
}

/*
.customer-review-one,
.customer-review-two,
.customer-review-three {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;
} */

.customer-review-one {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;
  position: relative; /* Establish reference point */
}

.customer-review-two,
.customer-review-three {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  top: 2rem;
}

.customer-review-three {
  top: 4rem;
}

.image {
  height: 3.5rem;
  border-radius: 50%;
}
.customer-details {
  display: flex;
  gap: 2rem;
}
.customer-name {
  font-size: 1.6rem;
  color: hsl(300, 24%, 96%);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.customer-buyer {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
  margin-bottom: 3rem;
}
.customer-review {
  font-size: 1.4rem;
  color: hsl(300, 24%, 96%);
  line-height: 2rem;
}
